<!DOCTYPE html>
<html lang="zh-CN"><!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!--<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="icon.css">
    <link rel="stylesheet" href="fish-desktop/css/fish-desktop-default.min.css">
    <script type="text/javascript" src="fish-desktop/js/fish-desktop-all.min.js"></script>
    &lt;!&ndash; 模块化加载入口 &ndash;&gt;-->
    <script src="jquery-3.3.1.js"></script>
    <!--<script src="fish-desktop/js/fish-desktop-require.js" data-main="js/main"></script>-->
    <script>
        $(function(){
            /*$('.container').onclick = function(){
                $.ajax({
                    data: JSON.stringify({name: 'ss', age : 19}),
                    contentType: 'application/json;charset=utf-8',
                    type: 'POST',
                    url:"/what",
                    success: function(result){
                        console.log(result);
                    }
                });
            }*/
            $('').on('click', func)
        })
    </script>
</head>
<body>
    <div class="container">
        <h2>hello boot</h2>
    </div>
    <div id="app">

    </div>
</body>
</html>